@import url(./reset.css);

/* join */
#wrap {
  width: 100%;
  height: 100%;
  background-image: url(../img/back_.jpg);
  background-size: cover;
  background-color: #313154;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-container {
  width: 900px;
  min-height: 600px;
  border-radius: 1rem;
  background-color: #0f0f2b;
  box-shadow: 0px 0px 17px 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-container__join {
  width: 100%;
  padding: 2rem;
}

.sign-container__login {
  width: 40%;
}

.sign-container h2 {
  font-family: "yg-jalnan";
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.sign-container__login h2 {
  text-align: center;
}

.name-wrap {
  display: flex;
  gap: 1rem;
}

.login-form {
  padding: 2rem;
  background-color: #23253c;
  border-radius: 1rem;
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.5);
}

.sign-input_wrap {
  position: relative;
  margin-bottom: 1rem;
}

.sign-input_wrap label {
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: "NanumSquare";
  pointer-events: none;
  transition: 0.2s ease-in;
}

.sign-input {
  background-color: #3b3c50;
  border: none;
  padding: 0 1rem;
  height: 3.8rem;
  width: 15rem;
  /* margin-bottom: 0.2rem; */
  font-size: 1rem;
  padding-top: 0.4rem;
}

.sign-input:focus + label,
.sign-input:valid + label {
  font-size: 0.7rem;
  left: 0.5rem;
  top: 0.3rem;
  transform: translateY(0);
  color: rgba(255, 255, 255, 0.582);
}

.sign-input_wrap.full .sign-input {
  width: 100%;
}

.btn-container {
  margin-top: 2rem;
  text-align: center;
}

.btn-style[type="submit"] {
  border: none;
  font-size: 1.5rem;
  font-family: "yg-jalnan";
  width: 12rem;
  background-color: #fff;
  color: #333;
  height: 3.5rem;
  border-radius: 5rem;
  transition: 0.2s ease-in;
}
.btn-style:first-child {
  margin-right: 1rem;
}
.btn-style.cancel {
  color: #858585;
}
.btn-style:hover {
  background-color: #555555;
  color: #fff;
}
