<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTT Planet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <section class="sign-container">
        <div class="sign-container__join">
          <h2>JOIN</h2>
          <form class="sign-form" id="signSubmit">
            <div class="name-wrap">
              <div class="sign-input_wrap">
                <input id="firstName" type="text" class="sign-input" />
                <label for="firstName">FIRST NAME </label>
              </div>
              <div class="sign-input_wrap">
                <input id="lastName" type="text" class="sign-input" />
                <label for="lastName">LAST NAME</label>
              </div>
            </div>
            <div class="sign-input_wrap full">
              <input id="joinId" type="text" class="sign-input" />
              <label for="joinId">ID</label>
            </div>
            <div class="sign-input_wrap full">
              <input id="joinPassword" type="password" class="sign-input" />
              <label for="joinPassword">PASSWORD</label>
            </div>
            <div class="sign-input_wrap full">
              <input id="passwordCheck" type="password" class="sign-input" />
              <label for="passwordCheck">PASSWORD-CHECK</label>
            </div>
            <div class="btn-container">
              <button
                class="btn-style cancel"
                type="button"
                onclick="location.href='/main'"
              >
                Cancel
              </button>
              <button class="btn-style" type="submit" id="signSubmitBtn">
                Confirm
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <script src="/static/js/signin-join.js" defer></script>
  </body>
</html>
