<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTT Planet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <section class="sign-container">
        <div class="sign-container__login">
          <h2>LOGIN</h2>
          <form class="login-form" id="loginSubmit">
            <div class="sign-input_wrap full">
              <input
                id="LoginId"
                type="text"
                required
                onfocus="this.placeholder=''"
                class="sign-input"
              />
              <label for="LoginId">ID</label>
            </div>
            <div class="sign-input_wrap full">
              <input
                id="loginPassword"
                type="password"
                required
                class="sign-input"
              />
              <label for="loginPassword">PASSWORD</label>
            </div>
            <div class="btn-container">
              <button class="btn-style login" type="submit">Login</button>
            </div>
            <div class="btn-container">
              <button
                class="btn-style login"
                type="button"
                onclick="location.href='/join'"
              >
                Sign In
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <script src="/static/js/login.js" defer="defer" type="module"></script>
    <script></script>
  </body>
</html>
