<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/css/style.css" />

    <title>OTT Planet main</title>
  </head>

  <body>
    <div class="main-wrap">
      <div class="table">
        <div class="tCon">
          <button onclick="ottBtnHandler(event)" id="Netflix">Netflix</button>
          <button onclick="ottBtnHandler(event)" id="Wavve">Wavve</button>
          <button onclick="ottBtnHandler(event)" id="Diseny+">Disney+</button>
        </div>

        <div class="dummy-content"></div>
        <div class="tcontent">
          <div class="tWrap">
            <p class="tTit">Comment 작성</p>
            <thead>
              <div class="comment-input-wrap">
                <div class="inputBox">
                  <div class="tName">
                    <p>Nickname</p>
                  </div>
                  <select id="ott" class="ottSelect">
                    <option selected>-- OTT --</option>
                    <option value="netflix">Netflix</option>
                    <option value="wavve">Wavve</option>
                    <option value="disney">Disney+</option>
                  </select>
                  <div class="tInput1">
                    <input id="contents" type="text" placeholder="Contents" />
                  </div>

                  <div class="tInput2">
                    <input id="comment" type="text" placeholder="Comment" />
                  </div>
                </div>
                <button onclick="save_comment()" class="tBtn">글쓰기</button>
              </div>
            </thead>
            <div id="tBox" class="tlist">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/mainPage.js"></script>
  </body>
</html>
